<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ApteanEdgeBankApplication.Properties.Settings.ApteanEdgeBankConnectionString" connectionString="Data Source=.;Initial Catalog=ApteanEdgeBank;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <appSettings>
      <add key="ConnectionString" value="Data Source=.;Initial Catalog=ApteanEdgeBank;Persist Security Info=True;User ID=sa;Password=abc-123"/>
    </appSettings>
</configuration>
